Repository project-guppy/game-review-app, pull requests merged in 2021-03, with the labels that each got.

#15 Basic navbar html code.
  frontend-app/src/App.js
  frontend-app/src/components/images/fish.svg
  frontend-app/src/components/navbar.js
Labels: Front End

#16 Star ratings component
  frontend-app/src/App.css
  frontend-app/src/App.js
  frontend-app/src/components/navbar.css
  frontend-app/src/components/navbar.js
  frontend-app/src/components/starRatings.js
Labels: Front End

#17 Gridlayout
  frontend-app/src/App.js
  frontend-app/src/components/grid.js
Labels: Front End

#21 sign in form component
  frontend-app/package-lock.json
  frontend-app/package.json
  frontend-app/src/App.js
  frontend-app/src/components/home.js
  frontend-app/src/components/login.js
  frontend-app/src/components/navbar.js
Labels: Front End

#24 signup page and link and route
  frontend-app/src/App.js
  frontend-app/src/components/about.js
  frontend-app/src/components/navbar.css
  frontend-app/src/components/navbar.js
  frontend-app/src/components/signup.js
Labels: Front End

#25 New component to add comments
  dummyVGData/dataCollectionScript.js
  frontend-app/src/App.css
  frontend-app/src/App.js
  frontend-app/src/components/addAComment.js
  frontend-app/src/components/grid.js
  frontend-app/src/components/navbar.css
  frontend-app/src/components/navbar.js
Labels: Front End

#37 lots of small changes to css design
  frontend-app/src/App.css
  frontend-app/src/App.js
  frontend-app/src/components/About.css
  frontend-app/src/components/Footer.css
  frontend-app/src/components/Footer.js
  frontend-app/src/components/LoginPage.css
  frontend-app/src/components/LoginPage.js
  frontend-app/src/components/SignUpPage.css
  frontend-app/src/components/SignUpPage.js
  frontend-app/src/components/about.js
  frontend-app/src/components/home.js
  frontend-app/src/components/navbar.js
  frontend-app/src/index.css
Labels: Front End

#40 started signup routes and added node modules
  frontend-app/src/components/Signup.js
  index.js
  models/users.js
  package-lock.json
  package.json
  routes/userRoutes.js
Labels: Backend

#41 Cards Added Small css changes
  frontend-app/src/App.css
  frontend-app/src/App.js
  frontend-app/src/components/Card.css
  frontend-app/src/components/Card.js
  frontend-app/src/components/Footer.js
  frontend-app/src/components/Home.js
  index.js
  package-lock.json
  package.json
Labels: Front End

#43 sign up functionality
  frontend-app/src/components/Login.js
  frontend-app/src/components/Signup.js
  index.js
  routes/gameAPI.js
  routes/userRoutes.js
Labels: Backend

#44 connected signup adding username and password to database
  frontend-app/src/components/Signup.js
  index.js
  routes/userRoutes.js
Labels: Backend, Front End

#52 sign in and log in code
  frontend-app/src/App.css
  frontend-app/src/components/Footer.css
  frontend-app/src/components/Footer.js
  frontend-app/src/components/Login.js
  frontend-app/src/components/Signup.js
  models/users.js
  routes/userRoutes.js
Labels: Backend, Front End

#55 finalfix before presentation
  frontend-app/src/components/Home.js
Labels: Front End
